@import '../../../../../styles.css';

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    padding: 0 1rem;
    /* background-color: rebeccapurple; */
}

.title-container {
    margin-top: 5px;
    display: flex;
    /* background-color: rebeccapurple; */
}.title-container p {
    margin: 0;
    margin-right: 5px;
}.title-container mat-icon {
    margin-top: 4px;
    font-size: 16px;
    color: var(--border-primary-color)
}

.container-list {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
} mat-list {
    width: 50%;
}

.spinner-container {
    width: 100%;
    height: calc(100vh - var(--navbar-height) - var(--search-container-height) - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
}

 /* CODIGO QR */
.qr-main-container {
    width: 100%;
    /* background-color: sandybrown; */
    box-sizing: border-box;
    padding: 3rem;

}.qr-info-container {
    width: 100%;
    height: 100%;
    /* background-color: seagreen; */
    border: 1px solid var(--mat-primary-color);
}.qr-info-title {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    color: white;
    background-color: var(--mat-primary-color);
}.qr-info-title h2 {
    margin: 0;
}.info-container {
    width: 100%;
    /* height: 450px; */
    box-sizing: border-box;
    padding: 15px;
    /* background-color: teal; */
    display: flex;
    flex-direction: column;
    align-items: center;
}.access-detail-container {
    display: flex;
    flex-direction: column;
}.detail {
    display: flex;
    justify-content: space-between;
}

.body-container-qr{
    width: 450px;
    display: flex;
    background-image: url('../../../../../assets/img/QR_base.PNG');
    /* background-color: gray; */
    margin-top: 2%;
    height: 250px;
    background-size: 100%;
    background-repeat: no-repeat;
}.container-qr-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #8970a8;
    width: 55%;
    height: auto;
    font-size: 1rem;
    padding-top: 55px;
}.container-qr-info h4 {
    margin: 2px;
}

.container-qr-img{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10% 0;
    width: 45%;
    height: 100%;
}.container-qr-img img{
    margin-bottom: 37%;
    margin-left: 3%;
    width: 82%;
}

mat-divider {
    width: 100%;
}

.text-info {
    color: var(--text-info)!important;
}

.text-secondary {
    color: var(--text-secondary)!important;
}

.text-success {
    color: var(--text-success)!important;
}

.text-warning {
    color: var(--text-warning)!important;
}

.text-danger {
    color: var(--mat-warn-color)
}

.text-justify {
    text-align: justify;
}