<div class="container">
    <div *ngIf="showSpinner" class="spinner-container">
        <mat-spinner *ngIf="showSpinner" color="primary"></mat-spinner>
    </div>

    <div *ngIf="!showSpinner && detalleAcceso" class="container-list">
        <!-- COL IZQ -->
        <mat-list>
            <div mat-subheader>Detalles del acceso</div>
            <mat-list-item>
                <mat-icon mat-list-icon>face</mat-icon>
                <div mat-line>{{detalleAcceso.nombre_visitante | titlecase}}</div>
                <div mat-line>Empleado de {{detalleAcceso.empleado_visitante}}</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>vpn_key</mat-icon>
                <div mat-line>Acceso para</div>
                <div class="text-info" mat-line>{{detalleAcceso.compania_visitante}}</div>
            </mat-list-item>
            <!-- <mat-divider></mat-divider> -->
            <!-- <div mat-subheader>Solicitado</div> -->
            <mat-list-item>
                <mat-icon mat-list-icon>event_available</mat-icon>
                <div mat-line>Solicitado: {{detalleAcceso.fecha_solicitud}}</div>
                <!-- <mat-icon mat-list-icon>plagiarism</mat-icon> -->
                <div *ngIf="estadoAcceso" mat-line>Vigente hace <b>{{estadoAcceso.vigencia}}</b> días.</div>
            </mat-list-item>

        </mat-list>
        <!-- COL DER -->
        <mat-list>
            <div [ngSwitch]="detalleAcceso.estado">
                <div *ngSwitchCase="'aprobado'">
                    <p class="text-success" mat-subheader>Acceso aprobado <mat-icon mat-list-icon class="logo-estado">how_to_reg</mat-icon></p>
                </div>
                <div *ngSwitchCase="'Aprobado'">
                    <p class="text-success" mat-subheader>Acceso aprobado <mat-icon mat-list-icon class="logo-estado">how_to_reg</mat-icon></p>
                </div>
                <div *ngSwitchCase="'solicitado'">
                    <p class="text-warning" mat-subheader>Acceso en trámite <mat-icon mat-list-icon class="logo-estado">watch_later</mat-icon></p>
                </div>
                <div *ngSwitchCase="'Solicitado'">
                    <p class="text-warning" mat-subheader>Acceso en trámite <mat-icon mat-list-icon class="logo-estado">watch_later</mat-icon></p>
                </div>
                <div *ngSwitchDefault>{{detalleAcceso.estado}}</div>
            </div>
            <mat-list-item>
                <mat-icon mat-list-icon>badge</mat-icon>
                <div mat-line>Cédula o pasporte</div>
                <div mat-line>{{detalleAcceso.cedula_visitante}}</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>dns</mat-icon>
                <div mat-line>Datacenter</div>
                <div class="text-info" mat-line>{{detalleAcceso.viceprecidencia_ejecutiva}}</div>
            </mat-list-item>
            <!-- <mat-divider></mat-divider> -->
            <!-- <div mat-subheader>Expiración</div> -->
            <mat-list-item>
                <mat-icon mat-list-icon>event_busy</mat-icon>
                <div mat-line>Expiración: {{detalleAcceso.fecha_expiracion}}</div>
                <div *ngIf="estadoAcceso" mat-line><small>Expira en <b>{{estadoAcceso.expiracion}}</b> días.</small></div>
            </mat-list-item>

        </mat-list>

        <mat-divider></mat-divider>
        <!-- lista del QR? -->
        <a class="a-show-form" *ngIf="detalleAcceso.gerencia!==''" [href]="detalleAcceso.gerencia" target="_blank">Ver formulario de acceso </a>
        <mat-list class="lista-qr">
            <mat-list-item class="list-item-qr">
                <div class="qr-mat-line" mat-line>
                    <!-- Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit aperiam delectus incidunt doloremque repellendus at recusandae architecto, totam atque facilis odio esse itaque et ducimus. -->
                    <div class="body-container-qr" #screen matTooltip="Descargar QR"
                        (click)="downloadQR(detalleAcceso.nombre_visitante, detalleAcceso.cedula_visitante)">
                        <div class="container-qr-info">
                            <h4>Bienvenido</h4>
                            <h4>{{detalleAcceso.nombre_visitante | titlecase}}</h4>
                            <h4>{{detalleAcceso.cedula_visitante | uppercase}}</h4>
                        </div>
                        <div *ngIf="qrcode != ''" class="container-qr-img">
                            <img *ngIf="qrcode" src="{{qrcode}}" alt="QR Code">
                        </div>
                    </div>
                    <div [hidden]="true" id="download">
                        <img #canvas>
                        <a #downloadLink></a>
                    </div>
                </div>

            </mat-list-item>
        </mat-list>
    </div>
</div>

<button *ngIf="!showSpinner && detalleAcceso" class="btn-download-qr" (click)="downloadQR(detalleAcceso.nombre_visitante, detalleAcceso.cedula_visitante)" mat-fab color="primary"
    aria-label="Example icon button with a filter list icon" matTooltip="Descargar QR">
    <mat-icon>file_download</mat-icon>
</button>