<div class="container">
    <div class="title-container">
        <p class="mat-subheading-1">Detalle de acceso</p>
        <mat-icon aria-hidden="false" aria-label="Example home icon">account_box</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">qr_code_2</mat-icon>
    </div>
    <mat-divider></mat-divider>
    <div class="user-info-container">
        <div class="container-row">
            <div class="info-row">
                <small>Cédula/pasaporte:</small>
                <p class="mat-body-2">PE-6969-6969</p>
            </div>
            <div class="info-row">
                <small>Estado:</small>
                <p class="mat-body-2">Aprobado</p>
                <mat-icon aria-hidden="false" aria-label="Example home icon">check_circle_outline</mat-icon>
            </div>
        </div>
        <div class="container-row">
            <div class="info-row">
                <small>Acceso para:</small>
                <p class="mat-body-2">RATARED</p>
            </div>
            <div class="info-row">
                <small>Empresa visitante:</small>
                <p class="mat-caption">Povider Nerd</p>
            </div>
        </div>

        <div class="container-row">
            <div class="info-row">
                <small>Slicitado:</small>
                <p class="mat-caption">12/05/2021</p>
            </div>
            <div class="info-row">
                <small>Expiración:</small>
                <p class="mat-caption">31/05/2021</p>
            </div>
        </div>

        <mat-divider></mat-divider>


    </div>
</div>
