<div class="container">
    <div class="title-container">
        <p class="mat-subheading-1">Detalle de acceso</p>
        <mat-icon aria-hidden="false" aria-label="Example home icon">account_box</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">qr_code_2</mat-icon>
    </div>
    <mat-divider></mat-divider>
    <div class="user-info-container">
        
        <div class="container-row">
            <div class="info-row">
                <small>Cédula/pasaporte:</small>
                <p class="mat-body-2">PE-6969-6969</p>
            </div>
            <div class="info-row ">
                <small>Estado:</small>
                <p class="mat-body-2">Aprobado</p>
                <mat-icon aria-hidden="false" aria-label="Example home icon">check_circle_outline</mat-icon>
            </div>
        </div>
        <div class="container-row">
            <div class="info-row">
                <small>Acceso para:</small>
                <p class="mat-body-2">RATARED</p>
            </div>
            <div class="info-row ">
                <small>Empresa visitante:</small>
                <p class="mat-caption">Povider Nerd</p>
            </div>
        </div>

        <div class="container-row">
            <div class="info-row">
                <small>Solicitado:</small>
                <p class="mat-caption">12/05/2021</p>
            </div>
            <div class="info-row ">
                <small>Expiración:</small>
                <p class="mat-caption">31/05/2021</p>
            </div>
        </div>

        <div class="container-row">
            <div class="info-row">
                <small>Vigente hace 69 días.</small>
            </div>
            <div class="info-row ">
                <small>Expira en 69 días.</small>
            </div>
        </div>

    </div>
    <mat-divider></mat-divider>

    <div class="qr-main-container">
        <div class="qr-info-container">
            <div class="qr-info-title">
                <h2>Abdiel Pinzón</h2>
                <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">assignment_ind</mat-icon> -->
                <button mat-mini-fab color="accent" aria-label="Example icon button with a filter list icon"
                    matTooltip="Descargar QR">
                    <mat-icon>file_download</mat-icon>
                </button>
            </div>
            <div class="info-container">
                <div class="access-detail-container">
                    <p>Detalle del acceso</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem aliquid optio, laudantium corrupti cumque nemo labore perferendis ut placeat necessitatibus reprehenderit natus a assumenda cum, facilis quibusdam nihil? Accusamus fugit, temporibus perferendis earum praesentium asperiores.</p>
                </div>
                <div class="body-container-qr" #screen>
                    <div class="container-qr-info mt-3">
                        <h4 class="m-0 mb-2 font-weight-bold">Bienvenido</h4>
                        <h4 class="m-0 lead">Abdiel Pinzón</h4>
                        <h4 class="m-0 lead">1-722-2319</h4>
                    </div>
                    <div class="container-qr-img">
                        <img src="" alt="QR Code">
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
