<div class="container">
    <div class="grid">
        <div class="search-container">
            <app-search (searchValue)="searchParam($event)" (searchByProject)="searchByProject($event)"></app-search>
            <div class="img-container">
                <app-picture [usercedula]="eventUsercedula.asObservable()"></app-picture>
            </div>
        </div>
        <div class="list-container">
            <app-userlist [project]="eventSearchByProject.asObservable()" [term]="eventParam.asObservable()" (idseguridad)="getAccessId($event)"></app-userlist>
        </div>
        <div class="info-container">
            <app-userdetails [idseg]="eventIdsec.asObservable()" (usercedula)="getUsercedula($event)"></app-userdetails>
        </div>
    </div>
</div>
