<div class="container">
    <div class="grid">
        <div class="search-container">
            <app-search (searchValue)="searchParam($event)"></app-search>
            <div class="img-container">
                <img *ngIf="!img" src="../../../../assets/img/nobg.png" alt="img">
                <img *ngIf="img" [src]="img" alt="img" onerror="this.onerror!=null;this.src='../../../../assets/img/nobg.png';">
            </div>
        </div>
        <div class="list-container">
            <app-userlist [term]="eventParam.asObservable()" (idseguridad)="getAccessId($event)"></app-userlist>
        </div>
        <div class="info-container">
            <app-userdetails [idseg]="eventIdsec.asObservable()" (foto)="getFoto($event)"></app-userdetails>
        </div>
    </div>
</div>
