@import '../../../../styles.css';

.container {
    /* background-color: green; */
    height: calc(100vh - var(--navbar-height));
}

.grid {
    /* background-color: royalblue; */
    display: grid;
    grid-template-columns: 40% 60%;
}

.search-container {
    grid-column: 1/3;
    height: var(--search-container-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-primary-color);
}

section, .grid div {
    box-sizing: border-box;
    /* border: 1px solid #ccc; */
}

.list-container, .info-container {
    height: calc(100vh - var(--search-container-height) - var(--navbar-height));
}

.mat-form-field {
    width: 50%;
    background-color: red;
}.img-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    /* background-color: red; */
}img {
    border: 1px solid ;
    width: 70px;
    margin-right: 15px;
}

app-search {
    width: 100%;
}

@media screen and (max-width: 768px){
    .container {
        height: auto;
    }

    .search-container {
        height: auto;
    }

    .grid {
        display: grid;
        grid-template-columns: 100%;
        /* grid-template-rows: 250px; */
    }

    .list-container, .info-container {
        height: 200px;
        grid-column: 1/3;
    }

    img {
        width: 100px;
    }
}

