@import '../../../../styles.css';

.container {
    /* background-color: green; */
    height: calc(100vh - var(--navbar-height));
}

.grid {
    /* background-color: royalblue; */
    display: grid;
    grid-template-columns: 40% 60%;
}

.search-container {
    grid-column: 1/3;
    height: var(--search-container-height);
}

section, .grid div {
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.list-container, .info-container {
    height: calc(100vh - var(--search-container-height) - var(--navbar-height));
}

