<div class="container">
    <div class="grid">

        <div class="form-container">
            <h2>Generador de códigos QR para área de carga.</h2>
            <form autocomplete="off" (ngSubmit)="downloadQR(form)" #form="ngForm">
                <mat-form-field appearance="fill">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput name="data"></textarea>
                </mat-form-field>
            </form>
        </div>

        <div class="qr-container">
            <div class="body-container-qr" #screen matTooltip="Descargar QR" (click)="downloadQR(form)">
                <div *ngIf="qrcode != ''" class="container-qr-img">
                    <img *ngIf="qrcode" src="{{qrcode}}" alt="QR Code">
                </div>
            </div>
            <div [hidden]="true" id="download">
                <img #canvas>
                <a #downloadLink></a>
            </div>
        </div>
    </div>
</div>