<div class="container">
    <div class="grid">

        <div class="form-container">
            <!-- <div class="div-title"> -->
                <h3>Plantilla para código QR.</h3>
                <!-- <small>Agregue o elimine los campos si es es requerido.</small> -->
            <!-- </div> -->
            
            <form autocomplete="off" (ngSubmit)="showQR(form)" #form="ngForm">
                <mat-form-field appearance="outline">
                    <mat-label>Agregue o elimine campos si es es requerido.</mat-label>
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="30"
                     name="data" [ngModel]="data.plantillaCarga" #input="ngModel" required></textarea>
                </mat-form-field>
                <p *ngIf="input.invalid" class="text-danger">Este campo es requerido.</p>
                <!-- <button class="btn-generar-qr" mat-flat-button color="warn">Generar QR</button> -->
                <button *ngIf="!input.invalid" class="btn-generar-qr" mat-icon-button aria-label="Example icon-button with a heart icon" matTooltip="Generar código QR">
                    Generar QR
                    <mat-icon>qr_code</mat-icon>
                </button>
            </form>
        </div>

        <!-- <p  && !input.dirty -->

        <div *ngIf="qrcode != ''" class="qr-container">
            <div class="body-container-qr" #screen>
                <div *ngIf="qrcode != ''" class="container-qr-img">
                    <img *ngIf="qrcode" src="{{qrcode}}" alt="QR Code">
                </div>
            </div>
            <div [hidden]="true" id="download">
                <img #canvas>
                <a #downloadLink></a>
            </div>
        </div>
    </div>
</div>

<button *ngIf="qrcode != ''" class="btn-download-qr" (click)="downloadQR()" mat-fab color="accent"
    aria-label="Example icon button with a filter list icon" matTooltip="Descargar QR">
    <mat-icon>file_download</mat-icon>
</button>