@import '../../../../styles.css';

.container {
    height: calc(100vh - var(--navbar-height));
}

.grid {
    /* background-color: royalblue; */
    display: grid;
    grid-template-columns: 40% 60%;
}

.form-container,
.qr-container {
    grid-column: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    /* background-color: yellowgreen; */
    height: calc(100vh - var(--navbar-height));
}

.form-container {
    border-right: 1px solid var(--border-primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.div-title {
    /* background-color: indianred; */
    width: 80%;
    margin-bottom: 15px;
    padding-left: 15px;
}

.div-title small, .div-title h2 {
    margin: 0;
}


.body-container-qr {
    /* width: 678px; */
    /* height: 320px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 480px;
    height: 250px;
    background-image: url('../../../../assets/img/QRCargo_base.PNG');
    /* background-color: greenyellow; */
    background-repeat: no-repeat;
    background-size: contain;
}

.container-qr-img{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10% 0; */
    width: 55.5%;
    /* margin-bottom: 11px; */
    margin-bottom: 28px;
    /* height: 100%; */
}.container-qr-img img{
    /* margin-bottom: 37%; */
    margin-left: 3%;
    width: 82%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: hotpink; */
}

.btn-generar-qr {
    width: 50%;
}

.mat-form-field {
    width: 80%;

    /* background-color: hotpink!important; */
}

.btn-download-qr {
    position: fixed;
    bottom: 50px;
    right: 50px; 
}

.text-danger {
    color: var(--mat-warn-color);
    margin: 0;
}

.dirty-msg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--mat-primary-color);
}a:hover {
    text-decoration: underline;
}

.politica-link {
    margin-top: 25px;
}

@media screen and (max-width: 840px){ 
    .grid {
        display: grid;
        grid-template-columns: 100%;
    }

    .form-container {
        height: auto!important;
        border: none;
        /* background-color: blueviolet; */
    }

    .qr-container {
        height: auto!important;
        /* background-color: green; */
    }
}
