@import '../../../../styles.css';

.container {
    height: calc(100vh - var(--navbar-height));
}

.grid {
    /* background-color: royalblue; */
    display: grid;
    grid-template-columns: 40% 60%;
}

.form-container,
.qr-container {
    grid-column: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    box-sizing: border-box;
    padding: 1rem;
    /* background-color: yellowgreen; */
    height: calc(100vh - var(--navbar-height));
}

.form-container {
    border-right: 1px solid var(--border-primary-color);
    overflow: hidden;
}

.body-container-qr {
    width: 678px;
    height: 320px;
    background-image: url('../../../../assets/img/QRCargo_base.PNG');
    background-repeat: no-repeat;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: hotpink; */
}

.btn-generar-qr {
    width: 50%;
}

.mat-form-field {
    width: 80%;

    /* background-color: hotpink!important; */
}