<div class="container">
    <div class="grid">

        <div class="form-container">
            <div class="div-title">
                <h2>Plantilla para código QR.</h2>
                <small>Agregue o elimine los campos si es es requerido.</small>
            </div>
            
            <form autocomplete="off" (ngSubmit)="downloadQR(form)" #form="ngForm">
                <mat-form-field appearance="outline">
                    <mat-label>Plantilla área de carga</mat-label>
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="30"
                     name="data" [ngModel]="data.plantillaCarga"></textarea>
                </mat-form-field>
                <!-- <button class="btn-generar-qr" mat-flat-button color="warn">Generar QR</button> -->
                <button class="btn-generar-qr" mat-icon-button aria-label="Example icon-button with a heart icon">
                    Descargar QR
                    <mat-icon>qr_code</mat-icon>
                </button>
            </form>
        </div>

        <div class="qr-container">
            <div class="body-container-qr" #screen matTooltip="Descargar QR">
                <div *ngIf="qrcode != ''" class="container-qr-img">
                    <img *ngIf="qrcode" src="{{qrcode}}" alt="QR Code">
                </div>
            </div>
            <div [hidden]="true" id="download">
                <img #canvas>
                <a #downloadLink></a>
            </div>
        </div>
    </div>
</div>