<div class="main-container">
    <div class="title-container">
        <h2 class="titulo">Listado de personal <mat-icon aria-hidden="false" aria-label="Example home icon">fact_check</mat-icon></h2>
        <small><i>Listado de personal con acceso tramitado a los IDC.</i></small>
    </div>
    <div class="users-container">
        <mat-list>
            <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
                <ng-container *cdkVirtualFor="let item of testArray">
                    <mat-list-item>
                        <h3>{{item}}</h3>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </ng-container>
            </cdk-virtual-scroll-viewport>
            <!-- <mat-list-item>
                <p class="mat-body-2" color="primary">Sujeto de Prueba</p>
                <p class="mat-body-1">9-12-123</p>
                <p class="mat-body-1">Prueba</p>
                <p class="mat-body-2 status">Pendiente <mat-icon aria-hidden="false" aria-label="Example home icon">pending_actions</mat-icon></p>
            </mat-list-item>
            <mat-divider></mat-divider>
            
            <mat-list-item>
                <p class="mat-body-2" color="primary">Abdiel Pinzón</p>
                <p class="mat-body-1">1-722-2319</p>
                <p class="mat-body-1">Perrored</p>
                <p class="mat-body-2 status">Aprobado <mat-icon aria-hidden="false" aria-label="Example home icon">check_circle_outline</mat-icon></p>
            </mat-list-item>
            <mat-divider></mat-divider> -->
          </mat-list>
    </div>
</div>
