<div class="main-container">
    <div class="title-container">
        <h3 class="titulo">Listado de personal</h3>
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">fact_check</mat-icon> -->
        <small>Listado de personal con acceso tramitado a los IDC.</small>
    </div>
    <div class="users-container">
        <div *ngIf="showSpinner" class="spinner-container">
            <mat-spinner *ngIf="showSpinner" color="primary"></mat-spinner>
        </div>

        <mat-list>
            <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
                <ng-container *cdkVirtualFor="let acceso of searchArray">
                    <mat-list-item class="bro" (click)="onClick(acceso.idseguridad)" matTooltip="Acceso para: {{acceso.compania_visitante}}" matTooltipPosition="right">
                        <p class="mat-body-1">{{acceso.nombre_visitante | uppercase}}</p>
                        <p class="mat-body-1">{{acceso.cedula_visitante | uppercase}}</p>
                        <p *ngIf="acceso.viceprecidencia_ejecutiva==='IDC Balboa'" class="mat-body-2">IDC BAL</p>
                        <p *ngIf="acceso.viceprecidencia_ejecutiva==='IDC Panama Pacifico'" class="mat-body-2">IDC PP</p>
                        <p class="mat-body-1">{{acceso.empleado_visitante}}</p>
                        <p *ngIf="acceso.estado==='solicitado' || acceso.estado ==='Solicitado'" class="mat-body-2 status">{{acceso.estado | titlecase}} <mat-icon class="text-warning" aria-hidden="false" aria-label="Example home icon">schedule</mat-icon></p>
                        <p *ngIf="acceso.estado==='aprobado' || acceso.estado ==='Aprobado'" class="mat-body-2 status">{{acceso.estado | titlecase}} <mat-icon class="text-success" aria-hidden="false" aria-label="Example home icon">check_circle_outline</mat-icon></p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </ng-container>
            </cdk-virtual-scroll-viewport>
          </mat-list>
    </div>
</div>
