<div class="main-container">
    <div class="title-container">
        <h2 class="titulo">Listado de personal <mat-icon aria-hidden="false" aria-label="Example home icon">fact_check</mat-icon></h2>
        <small><i>Listado de personal con acceso tramitado a los IDC.</i></small>
    </div>
    <div class="users-container">
        <mat-list>
            <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
                <ng-container *cdkVirtualFor="let acceso of searchArray">
                    <mat-list-item>
                        <p class="mat-body-1">{{acceso.cedula_visitante | uppercase}}</p>
                        <p class="mat-body-1">{{acceso.empleado_visitante}}</p>
                        <p *ngIf="acceso.estado==='solicitado'" class="mat-body-2 status">{{acceso.estado | titlecase}} <mat-icon class="text-warning" aria-hidden="false" aria-label="Example home icon">schedule</mat-icon></p>
                        <p *ngIf="acceso.estado==='aprobado'" class="mat-body-2 status">{{acceso.estado | titlecase}} <mat-icon class="text-success" aria-hidden="false" aria-label="Example home icon">check_circle_outline</mat-icon></p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </ng-container>
            </cdk-virtual-scroll-viewport>

            <!-- <ng-container *ngFor="let acceso of searchArray">
                <mat-list-item>
                    <p class="mat-body-2" color="primary">{{acceso.nombre_visitante}}</p>
                    <p class="mat-body-1">{{acceso.cedula_visitante}}</p>
                    <p class="mat-body-1">{{acceso.empleado_visitante}}</p>
                    <p *ngIf="acceso.estado==='solicitado'" class="mat-body-2 status">{{acceso.estado}} <mat-icon aria-hidden="false" aria-label="Example home icon">pending_actions</mat-icon></p>
                    <p *ngIf="acceso.estado==='aprobado'" class="mat-body-2 status">{{acceso.estado}} <mat-icon aria-hidden="false" aria-label="Example home icon">check_circle_outline</mat-icon></p>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
            -->
            
            <!-- <mat-list-item>
                <p class="mat-body-2" color="primary">Abdiel Pinzón</p>
                <p class="mat-body-1">1-722-2319</p>
                <p class="mat-body-1">Perrored</p>
                <p class="mat-body-2 status">Aprobado <mat-icon aria-hidden="false" aria-label="Example home icon">check_circle_outline</mat-icon></p>
            </mat-list-item>
            <mat-divider></mat-divider> -->
          </mat-list>
    </div>
</div>
