@import '../../../../../styles.css';

.main-container {
    /* background-color: green; */
    border-right: 1px solid var(--border-primary-color);
    height: 100%;
}

.title-container {
    display: flex;
    padding: .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--navbar-background);
}.title-container .titulo {
    margin: 0;
    display: flex;
    align-items: center;
}mat-icon {
    margin-left: 5px;
}

mat-list {
    /* background-color: grey; */
}

.users-container {
    padding: 0 .7rem;
}mat-list-item p {
    font-size: .85rem!important;
    display: flex;
    /* background-color: green; */
    width: 100%;
    justify-content: space-between;
    margin: 0;
}.status {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /* background-color: rebeccapurple; */
}.status mat-icon {
    font-size: 16px;
}