.main-container {
    /* background-color: green; */
    border-right: 1px solid var(--border-primary-color);
    height: 100%;
}

.title-container {
    display: flex;
    padding: .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--navbar-background);
}.title-container .titulo {
    margin: 0;
    display: flex;
    align-items: center;
}mat-icon {
    margin-left: 5px;
    color: var(--border-primary-color)
}

mat-list-item {
    /* background-color: rebeccapurple; */
    min-height: 49px!important;
    height: 49px!important;
    cursor: pointer;
}

.bro:hover {
    background-color: #dadada;
}

.users-container {
    padding: 0 .7rem;
}mat-list-item p {
    font-size: .8rem!important;
    display: flex;
    /* background-color: green; */
    width: 20%;
    justify-content: space-between;
    margin: 0;
}.status {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /* background-color: rebeccapurple; */
}.status mat-icon {
    font-size: 16px;
}mat-divider {
    border-top-color: var(--border-primary-color);
}.spinner-container {
    width: 100%;
    height: calc(100vh - var(--navbar-height) - var(--search-container-height) - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rosybrown; */
}

.viewport {
    height: calc(100vh - var(--navbar-height) - var(--search-container-height) - 75px);
}

.text-warning {
    color: var(--text-warning)
}

.text-success {
    color: var(--text-success)
}

@media screen and (max-width: 960px){
    mat-list-item p {
        font-size: .7rem!important;
    }
}

@media screen and (max-width: 768px){
    mat-list-item p {
        font-size: .85rem!important;
    }
}

@media screen and (max-width: 430px){
    mat-list-item p {
        font-size: .7rem!important;
    }
}