/* You can add global styles to this file, and also import other style files */

::ng-deep :root {
    --navbar-height: 35px;
    --search-container-height: 90px;
    --border-primary-color: #b7b7b8;
}

/* :host ::ng-deep .mat-form-field-wrapper{
    margin: 0 !important;
    padding: 0;
} */


html, body { 
    height: 100%; 
    background-color: #e9eaeb;
    font-size: .9rem!important;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
